<!DOCTYPE HTML>
<!-- Gestor de plantillas Thymeleaf-->
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <title>JavAcademia</title>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">


</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-12 titulo">
   
                    <h1 class="display-4" th:text="${titulo}+'...'"></h1>
                    <p class="lead">Vamos a añadir un alumno a la base de datos.</p>

            </div>
        </div>


        <div class="row">
            <div class="col-8">

                <form action="/alumno/add" method="GET">

                    <div class="form-group">
                        <label for="inputNombre">Nombre</label>
                        <input type="text" name="nombre" class="form-control" id="inputNombre"  placeholder="Entrar nombre">
                    </div>

                    <div class="form-group">
                        <label for="inputEmail">Email</label>
                        <input type="email" name="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Entrar email">
                        <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su email.</small>
                    </div>

                    <div class="form-group">
                        <label for="inputCiudad">Ciudad</label>
                        <input type="ciudad" name="ciudad" class="form-control" id="inputCiudad"  placeholder="Entrar ciudad">
                    </div>


                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>

            </div>
        </div>

    </div>









    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
</body>

</html>