
div.circulo {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    display: inline-block;
    background-color: grey;
    margin-right: 20px;
}

div.circulo.circulo-rojo {
    background-color: red;
}